body {
    background-color: #123123;
}

footer {
    margin-top: 10px;
}

.container-loh {
    background-color: #00141F;
    margin-top: 10px;
    margin-left: 250px;
    margin-right: 250px;
    border-radius: 5px;
}

.container-hol {
    background-color: #00141F;
    margin-top: 15px;
    margin-left: 250px;
    margin-right: 250px;
    border-radius: 5px;
}

.wrap {
    display: flex; /* Включаем Flexbox */
    justify-content: flex-start; /* Элементы выравниваются по началу строки (по умолчанию) */
  }

.carousel-all {
    background-color: #00141F;
    margin-top: 15px;
    margin-left: 250px;
    margin-right: 10px;
    border-radius: 30px;
    height: 100%;
    width: 100%;
}

.carousel-item img {
    border-radius: 30px;
    height: 100%; /* Задайте желаемую высоту */
    width: 100%;
    object-fit: cover; /* Это свойство позволяет сохранить пропорции и обрезать изображение */
}

.holder-image {
    border-radius: 30px;
    min-width: 100px;
    margin-top: 15px;
    margin-right: 250px;
    object-position: right;
}

.img-fluid {
    border-radius: 30px;
    object-position: right;
}

.custom-img {
    width: 1000px; /* Ширина изображения */
    height: 150px; /* Высота изображения */
    object-fit: cover; /* Обрезать изображение, чтобы оно не деформировалось */
}

.custom-img1 {
    margin-top: 10px;
    width: 265px; /* Ширина изображения */
    height: 200px; /* Высота изображения */
    object-fit: cover; /* Обрезать изображение, чтобы оно не деформировалось */
}

.navbar-collapse {
    display: flex;
    justify-content: space-between; /* Разделяет элементы на левую и правую части */
}

.auth-btn {
    border: 2px solid white; /* Белая граница */
    color: #fff;
    border-radius: 5px; /* Скругленные углы */
    padding: 10px 20px; /* Отступы внутри кнопки */
    transition: all 0.3s ease; /* Плавный переход при наведении */
}

.auth-btn:hover {
    background-color: rgb(4, 24, 139); /* Белый фон при наведении */
    color: rgb(9, 49, 224); /* Черный текст при наведении */
    border-color: #007bff; /* Цвет границы при наведении */
}

.text123 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: #fff;
    margin-top: 10px;
}