{% extends 'home.html' %}
{% block container %}
        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-md-6">
                    <div class="card" style="background-color: #050022;">
                        <div class="card-body">
                            <h1 class="card-title text-center mb-4 text-white">Авторизация</h1>
                            <form method="POST">
                                <div class="mb-3">
                                    <label for="username" class="form-label text-white">Имя пользователя:</label>
                                    <input type="text" class="form-control" id="username" name="username" required>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label text-white">Пароль:</label>
                                    <input type="password" class="form-control" id="password" name="password" required>
                                </div>
                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-dark">Авторизоваться</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}