{% extends 'home.html' %}
{% block container %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">1</th>
        <th scope="col">2</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>2</td>
        <td>3</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>3</td>
        <td>4</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">5</td>
      </tr>
    </tbody>
  </table>
{% endblock %}