body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(94,10,6,1) 49%, rgba(0,167,201,1) 100%);
}

.container-nav {
    background-color: #3a3a3a;
    margin-top: 0.5%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
}

.container-login {
    background-color: #00141F;
    margin-top: 0.5%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 1.5%;
    border-radius: 10px;
    color: #fff;
}

.container-issue {
    background-color: #00141F;
    margin-top: 0.5%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 1.5%;
    border-radius: 10px;
    color: #fff;
}

.container-priority {
    margin-bottom: 2%;
}